<h1 class="text-center">Статьи</h1>
<div class="row">
    {% for article in articles %}
        <div class="">

        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ article.title }}</h5>
                <a href="{{ article.get_absolute_url }}"
                   class="card-link btn btn-primary">Подробнее</a>
                <span id="article-{{ article.id }}">Likes: {{ article.likes.count }}</span>

            </div>

            {% if request.user.is_authenticated %}
                <a data-article-id="article-{{ article.id }}" class='likes'
                   href="{% url "webapp:likes" article.pk %}">
                    {% if request.user in article.likes.all %}Dislike
                    {% else %}Like
                    {% endif %}
                </a>
            {% endif %}
        </div>
        {% empty %}
    {% endfor %}
    {% if is_paginated %}
        <div class="text-center">{% include "partial/pagination.html" %}</div>
    {% endif %}
    </div>